body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* REUSABLE STYLES */
.h-container {
  padding: 50px 5px;
}

/* HEADER */
.h-header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  background-color: #88c8e1;
  z-index: -1;
}

.h-logo-container {
  width: 150px;
}

.h-nav {
  width: 5000px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 10px;
  background-color: #88c8e1;
  letter-spacing: 2px;
}

.h-logo {
  padding: 10px 30px;
  width: 70px;
}

.h-nav-element {
  cursor: pointer;
  padding: 5px 5px;
  width: 100px;
  color: black;
  font-weight: 900;
}

.h-nav-element a {
  color: black;
  font-weight: 900;
  text-decoration: none;
}

/* contact us */

.main-contact-us {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url(https://i.pinimg.com/564x/d4/ad/cf/d4adcf4becc4b8165287ea959564e640.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 500px;
  background-color: #88c8e1;
  height: 800px;
  padding: 30px;
}

.contact-us-title {
  font-size: 45px;
  word-wrap: break-word;
  padding: 20px 10px;
  text-align: left;
  color: black;
  letter-spacing: 4px;
}

.contact-us-title p {
  font-size: 20px;
}

.contact-us-content-box {
  background: white;
  opacity: 0.8;
  display: block;
  margin: 10px 30px;
  padding: 20px;
  height: 600px;
  width: 50%;
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: 2px;
}

.contact-form p {
  line-height: 1;
  font-size: 15px;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  display: inline-block;
  border: 1px solid gray;
  background: #f1f1f1;
}

label {
  line-height: 1;
  font-size: 15px;
  padding: 12px 0;
  display: block;
}

#subject {
  width: 90%;
  padding: 10px;
  border: 1px solid gray;
  background: #f1f1f1;
}

button {
  display: block;
  background-color: #2f4553;
  border-bottom: 2px solid black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin: 15px 0;
  text-align: center;
  transition: 0.4s ease-in-out;
  width: 100px;
  font-family: "Roboto", sans-serif;
}

button:hover {
  background-color: #d0baac;
  color: #263742;
}

.h-button-text {
  padding: 10px;
  letter-spacing: 2px;
}

/* Footer */

.h-footer {
  align-items: center;
  background-color: #2b2d2e;
  color: white;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
  margin-top: -20px;
}

h6 {
  font-size: 30px;
  text-align: center;
}

a {
  color: white;
}

.h-footer-text p {
  margin-bottom: 10px;
  font-size: 15px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
  width: 95%;
}
