body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* REUSABLE STYLES */
.h-container {
  padding: 50px 5px;
}

/* HEADER */
.h-header {
  align-items: center;
  display: flex;
  height: 90px;
  justify-content: space-between;
  background-color: #079a94;
}

.h-logo-container {
  width: 150px;
}

.h-nav {
  width: 400px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  right: 8px;
  width: 90%;
  font-size: 10px;
  background-color: #079a94;
  letter-spacing: 2px;
}

.h-logo {
  padding: 10px 30px;
  width: 70px;
}

.h-nav li {
  cursor: pointer;
  padding: 5px 5px;
  width: 50%;
  color: black;
  font-weight: 900;
  list-style: none;
}

.h-nav a {
  color: black;
  font-weight: 900;
  text-decoration: none;
  font-size: 15px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
  transition: all 0.3s ease;
}

/* Our Goal */

.main-sign-up {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url(https://i.pinimg.com/564x/93/1e/ae/931eae8f669abd81b71825a554a5a559.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 500px;
  background-color: #079a94;
  height: 800px;
  padding: 30px;
}

.sign-up-title {
  font-size: 45px;
  word-wrap: break-word;
  padding: 20px 10px;
  text-align: left;
  color: #f8f8f8;
  letter-spacing: 4px;
}

.sign-up-title p {
  font-size: 20px;
}

.sign-up-content-box {
  background: white;
  opacity: 0.9;
  display: block;
  margin: 10px 10px 30px 0;
  padding: 20px 50px;
  height: 600px;
  width: 600px;
  line-height: 2;
  font-size: 20px;
  letter-spacing: 2px;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid gray;
  background: #f1f1f1;
}

button {
  background-color: #2f4553;
  border-bottom: 2px solid black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin: 15px auto;
  text-align: center;
  transition: 0.4s ease-in-out;
  width: 100px;
  font-family: "Roboto", sans-serif;
}

button:hover {
  background-color: #d0baac;
  color: #263742;
}

.h-button-text {
  padding: 10px;
  letter-spacing: 2px;
}

/* Footer */

.h-footer {
  align-items: center;
  background-color: #2b2d2e;
  color: white;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
  margin-top: -20px;
}

h6 {
  font-size: 30px;
  text-align: center;
}

a {
  color: white;
}

.h-footer-text p {
  margin-bottom: 10px;
  font-size: 15px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
  width: 95%;
}

/* MEDIA SCREEN */

@media screen and (max-width: 1024px) {
  .h-nav-element {
    cursor: pointer;
    padding: 5px 5px;
    width: 13%;
    color: black;
    font-weight: 900;
  }
  .burger {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 8px;
    padding-left: 100px;
    height: 1520px;
    text-align: center;
    top: 80px;
    background-color: #fffff2;
    display: block;
    flex-direction: column;
    align-items: center;
    width: 200px;
    color: black;
    font-weight: 900;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1;
  }

  .nav-links li {
    opacity: 0;
    line-height: 8;
  }

  .burger {
    display: block;
    position: absolute;
    right: 30px;
    top: 32px;
  }

  .sign-up-content-box {
    background: white;
    opacity: 0.9;
    display: block;
    margin: 10px 10px 30px 0;
    padding: 20px 50px;
    height: 600px;
    width: 80%;
    line-height: 2;
    font-size: 18px;
    letter-spacing: 2px;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .burger-line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .burger-line2 {
  opacity: 0;
}

.toggle .burger-line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
